<ion-view view-title="Contact Us">
  <ion-content>
	<div Class="card">
		<div class="item item-divider" style="font-weight: bold;">
		    Location information
		  </div>
		<div Class="item item-text-wrap">
					<p style="font-weight: bold;">Our Address</p>

					<p>121, Clear Water Bay Road
					Clear Water Bay, Kowloon
					HONG KONG</p>
					<p><i class="icon ion-android-call"></i> : +852 1234 5678</p>
					<p><i class="icon ion-android-print"></i> : +852 8765 4321</p>
					<p><i class="icon ion-android-mail"></i> : <a>confusion@food.net</a></p>
		</div>
		<div class="button-bar">
		  <a class="button button-positive"><i class="icon ion-android-call"></i> Call</a>
		  <a class="button button-calm"><i class="icon ion-social-skype"> Skype</i></a>
		  <a class="button button-balanced"><i class="icon ion-android-mail"></i> Email</a>
		</div>
	</div>
  </ion-content>
</ion-view>
